.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #C3E5E4; /* Light green for a calming healthcare background */
}

.content {
  padding: 20px;
  margin: 20px;
}

.title {
  font-size: 2.5rem;
  color: #2e7d32;
  text-align: center;
  margin-bottom: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  padding: 40px 20px;
}
.description {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 40px;
  max-width: 600px;
}
@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
